<div
  [ngStyle]="{'width': imgLoaded ? 'unset' : '250px', 'pointer-events': imgLoaded ? 'all': 'none'}"
  class="camera-elem"
  (click)="route(data.id || '')"
>
  <div *ngIf="data.src == null" class="camera-elem__img--not-exists">
    <i class="pi pi-camera"></i>
  </div>
  <div class="camera-elem-img-container">
    <div *ngIf="!imgLoaded " class="camera-elem-img-container-icon-container">
      <i class="pi pi-spin pi-spinner"></i>
    </div>
    <img
      (load)="imgLoaded = !imgLoaded"
      *ngIf="data.src != null"
      [src]="data.src"
      class="camera-elem-img-container__img"
    />
  </div>
  <div class="camera-elem-content">
    <p class="camera-elem-content__p">{{ data.data }}</p>
  </div>
</div>
