<div class="preview">
   <div class="preview-camera">
      <p class="preview-camera__p">Camera name</p>
      <div class="preview-camera-container">
         <polygon-draw
            selectedAreaColor="rgba(0, 0, 0, 0.6)"
            selectedAreaBorderColor="#000000"
            lineColor="#000000"
            lineWidth="3"
            [drawingEnabled]="enableDrawing"
            [id]="this.id"
            [areaName]="areaName"
            [areas]="areas"
            [src]="src"
            (response)="polygonResponse($event)"
         >
         </polygon-draw>
      </div>
      <div class="preview-camera-actions">
         <div class="preview-camera-actions-shading">
            <button
               pButton
               pRipple
               (click)="previousCamera()"
               icon="pi pi-chevron-left"
               type="button"
               class="preview-camera-actions-shading__button p-button-rounded p-button-secondary p-button-text"
            ></button>
            <button
               pButton
               pRipple
               (click)="nextCamera()"
               icon="pi pi-chevron-right"
               type="button"
               class="preview-camera-actions-shading__button p-button-rounded p-button-secondary p-button-text"
            ></button>
            <div class="actions-data-picker-box">
               <p-calendar
                  [disabled]="!policyAccteped"
                  [touchUI]="true"
                  [touchUI]="true"
                  [showTime]="true"
                  [(ngModel)]="date"
                  [showIcon]="true"
                  [showButtonBar]="true"
                  (onSelect)="selectDateAndGetLogs($event)"
               ></p-calendar>

               <div class="actions-data-picker-box-container">
                  <button
                     pButton
                     pRipple
                     [disabled]="!policyAccteped || !logsUpdated"
                     (click)="showLogsDialog()"
                     type="button"
                     class="actions-data-picker-box-container__button p-button-rounded p-button-secondary p-button-text"
                     icon="pi pi-search"
                  ></button>
                  <button
                     pButton
                     pRipple
                     [disabled]="!policyAccteped || !areasUpdated"
                     (click)="showAreasDialog()"
                     type="button"
                     class="actions-data-picker-box-container__button p-button-rounded p-button-secondary p-button-text"
                     icon="pi pi-sliders-v"
                  ></button>
                  <button
                     pButton
                     pRipple
                     [disabled]="!policyAccteped || src?.data == undefined"
                     (click)="playLiveVideo()"
                     type="button"
                     class="actions-data-picker-box-container__button p-button-rounded p-button-secondary p-button-text"
                     icon="pi pi-video"
                  ></button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<p-toast [baseZIndex]="50001"></p-toast>

<p-dialog
   header="Set new area name"
   [(visible)]="showAreaNameDialog"
   [modal]="true"
   [style]="{width: '50vw'}"
   [baseZIndex]="10001"
   [draggable]="false"
   [resizable]="false"
>
   <div class="p-input-filled input-container">
      <input type="text" pInputText #input placeholder="Area Name" />
   </div>
   <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="newAreaNameAccept(input)" label="Yes" class="p-button-text"></p-button>
      <p-button icon="pi pi-times" (click)="newAreaNameReject()" label="No"></p-button>
   </ng-template>
</p-dialog>
