@import "../colors.scss";
@import "../fonts.scss";

@media screen and (min-width: 950px) {
  .actions-data-picker-box-container {
    width: auto !important;
  }
}

:host {
  width: 100%;
  height: inherit;
}

.preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  height: 100%;
  &-camera {
    width: inherit;
    background: $Brighter-Blue;
    display: flex;
    box-shadow: rgb(0 0 0 / 24%) 0px 8px 9px 0px;
    flex: 60;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &__p {
      font-weight: bold;
      font-size: $font-size-small;
    }

    &-container {
      align-items: center;
      .pi {
        position: absolute;
      }
      box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
        rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
      display: flex;
      background: $Darker-Blue;
      justify-content: center;
      padding: 30px;
      flex: 60;
      width: inherit;
      &__video {
        box-shadow: rgb(0 0 0 / 24%) 5px 5px 2px 2px;
        max-width: 100%;
        background: white;
        border-radius: 10px;
      }
    }

    .preview-camera-actions {
      width: inherit;
      display: flex;
      background: $Brighter-Blue;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 10px;

      &-shading {
        display: flex;
        box-shadow: rgb(0 0 0 / 24%) 4px 4px 2px 1px;
        border-radius: 10px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        background: white;
        &__button {
          margin: 10px;
        }

        .actions-data-picker-box {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          p-calendar {
            margin: 5px;
          }

          &-container {
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            display: flex;
            width: 100%;
            &__button {
              margin: 10px;
            }
          }
        }
      }
    }
  }
}
