<div class="preview">
  <div class="preview-camera">
    <p class="preview-camera__p">Camera name</p>
    <div class="preview-camera-container">
      <video
        width="640"
        height="480"
        class="preview-camera-container__video"
      ></video>
    </div>
    <div class="preview-camera-actions">
      <div class="preview-camera-actions-shading">
        <button
          pButton
          pRipple
          icon="pi pi-chevron-left"
          type="button"
          class="
            preview-camera-actions-shading__button
            p-button-rounded p-button-secondary p-button-text
          "
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-chevron-right"
          type="button"
          class="
            preview-camera-actions-shading__button
            p-button-rounded p-button-secondary p-button-text
          "
        ></button>
        <div class="actions-data-picker-box">
          <p-calendar
            [touchUI]="true"
            [showTime]="true"
            [(ngModel)]="date"
            [showIcon]="true"
            [showButtonBar]="true"
          ></p-calendar>
          <p-calendar
            [(ngModel)]="date2"
            [showIcon]="true"
            icon="pi pi-filter"
            [timeOnly]="true"
          ></p-calendar>
          <button
            pButton
            pRipple
            (click)="showLogsDialog()"
            type="button"
            class="
              actions-data-picker-box__button
              p-button-rounded p-button-secondary p-button-text
            "
            icon="pi pi-search"
          ></button>
          <button
            pButton
            pRipple
            (click)="showAreasDialog()"
            type="button"
            class="
              actions-data-picker-box__button
              p-button-rounded p-button-secondary p-button-text
            "
            icon="pi pi-sliders-v"
          ></button>
        </div>
      </div>
    </div>
  </div>
  <div class="areas-container" style="display: none">
    <div class="area-container">
      <p class="area-container__text">Area Name</p>
      <p class="area-container__text">Type</p>
      <button
        pButton
        pRipple
        type="button"
        class="
          area-container__button
          p-button-rounded p-button-danger p-button-text
        "
        icon="pi pi-times"
      ></button>
    </div>
  </div>
</div>
